# Flask Configuration
FLASK_ENV=production
FLASK_DEBUG=False
LOG_LEVEL=INFO

# SFTP Configuration
SFTP_HOST=127.0.0.1
SFTP_PORT=22
SFTP_USER=sftpuser_magloire
SFTP_PASSWORD=4pD^LYDteaF!YHnr
SFTP_REMOTE_DIR=/

# Output Directory
OUTPUT_DIR=./output

# SFTP Retry Configuration
SFTP_MAX_RETRIES=3
SFTP_RETRY_DELAY=1
